<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"     >

    <title>Users Directory</title>
</head>

<body>

<div class="container">
    <h3>User Directory</h3>
    <hr>

    <!--  Add a button  -->
    <a th:href="@{/users/showFormForAdd}"
        class="btn btn-primary btn-sm mb-3" role="button">
            Add User
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Account Creation Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <!--    for each user:    -->
            <tr th:each="tempUser : ${users}">

                <!-- getters are used behind the scenes -->
                <td th:text="${tempUser.firstName}" />
                <td th:text="${tempUser.lastName}" />
                <td th:text="${tempUser.email}" />
                <td th:text="${tempUser.accountCreationDate}" />

                <!-- Update buttons -->
                <td>
                    <a th:href="@{/users/showFormForUpdate(userId=${tempUser.id})}"
                       class="btn btn-info btn-sm" role="button">
                        Update account
                    </a>

                    <a th:href="@{/users/delete(userId=${tempUser.id})}"
                       class="btn btn-danger btn-sm"
                        onclick="if (!(confirm('Are you sure you want to delete this account?!'))) return false" role="button">  <!--   pop-out window -->

                        Delete account (be careful!)
                    </a>
                </td>
            </tr>
        </tbody>

    </table>
</div>
</body>

</html>






