<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>chessWebApp Admin Home Page</title>
</head>

<body>

<h2>chessWebApp Admin Home Page</h2>

<hr>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Lorem dolor sed viverra ipsum nunc aliquet. Sit amet facilisis magna etiam tempor orci eu lobortis.
    Pharetra convallis posuere morbi leo urna.
    Secret place, not visible for regular users!
</p>

<hr>

<p>
    Secret place, not visible for regular users!
</p>

<hr>

<a th:href="@{/}">Back to Home Page</a>

</body>

</html>









